<table border="1">
        <tr>
            <td>用户名</td>
            <!--使用ng-model绑定item对象的username属性-->
            <td><input type="text" ng-model="item.username"/></td>
        </tr>
        <tr>
            <td>男</td>
            <!--使用ng-model绑定item对象的gender属性-->
            <td><input type="text" ng-model="item.gender"/></td>
        </tr>
        <tr>`
            <td>邮箱</td>
            <!--使用ng-model绑定item对象的email属性-->
            <td><input type="text" ng-model="item.email"/></td>
        </tr>
        <tr>
        </tr>
</table>